ul.ks-cboxtags {
  list-style: none;
  padding: 5px;
}
ul.ks-cboxtags li {
  display: inline;
  margin-right: 5px;
}
ul.ks-cboxtags li label {
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.9);
  border: 1px solid rgba(62, 66, 77, 0.6);
  color: #3e424d;
  border-radius: 5px;
  white-space: nowrap;
  margin: 3px 0px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  transition: all 0.2s;
}
ul.ks-cboxtags li label:hover {
  border: 1px solid #ea3ba1;
  color: #ea3ba1;
}

ul.ks-cboxtags li label {
  padding: 6px 10px;
  cursor: pointer;
}

ul.ks-cboxtags li input[type="checkbox"]:checked + label {
  border: 1px solid #ea3ba1;
  background-color: #ea3ba1;
  color: #fff;
  transition: all 0.2s;
}

ul.ks-cboxtags li input[type="checkbox"] {
  display: absolute;
}
ul.ks-cboxtags li input[type="checkbox"] {
  position: absolute;
  opacity: 0;
}
ul.ks-cboxtags li input[type="checkbox"]:focus + label {
  border: 2px solid #e9a1ff;
}
