.nav-wrapper {
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  position: fixed;
  z-index: 3;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 110px;
  transition: all 0.3s ease;
  flex-direction: column;
}

.scrollNav {
  background-color: #fff;
}

.scrollNavColor {
  background-color: #ea3ba1;
}

.scrollNavTall {
  height: 100px;
}

.scrollNavLinks > li > a {
  color: #000;
}

/* NAVIGATION */

.contactBar {
  background: #ea3ba1;
  width: 100%;
  height: 32px;
  display: flex;
  justify-content: center;
}
.contactBarInner {
  width: 60%;
  display: flex;
  justify-content: space-between;
  color: white;
  align-items: center;
}
.sociaMediaIcons {
  display: flex;
}

.socialMedia {
  color: white;
}
.facebookIcon,
.isntagramIcon,
.youtubeIcon {
  /* padding: 6px 5px 6px 10px; */
  padding: 6px 11px;
  z-index: 0;
  position: relative;
}

.isntagramIcon {
  padding: 6px 12px 6px 12px;
}

.youtubeIcon::before,
.facebookIcon::before,
.isntagramIcon::before {
  content: "";
  width: 33px;
  height: 32px;
  position: absolute;
  z-index: -1;
  top: -113%;
  left: 3px;
  transition: all 0.2s ease;
}

.youtubeIcon::before {
  content: "";
  background: red;
}

.isntagramIcon::before {
  content: "";
  background: #661b77;
}

.facebookIcon::before {
  content: "";
  background: #4267b2;
}

.youtubeIcon:hover::before,
.isntagramIcon:hover::before,
.facebookIcon:hover::before {
  top: -1px;
}

.phoneNumber {
  color: white;
  text-decoration: none;
  font-size: 0.9rem;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  overflow: hidden;
}

.navbar img {
  width: auto;
  justify-self: start;
  margin-left: 20px;
  margin-right: 20px;
  transition: width 0.3s ease;
  width: 200px;
}

.shrinkLogo {
  width: 150px !important;
}

.bigLogo {
  width: 200px !important;
}

.navbar ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-gap: 17px;
  justify-self: end;
}

.nav-item a {
  color: #fff;
  font-size: 0.9rem;
  font-weight: 400;
  text-decoration: none;
  transition: color 0.2s ease-out;
  text-transform: uppercase;
}

.nav-item a:hover {
  color: #ea3ba1;
}

.m-only {
  display: none;
}

.menu-toggle .bar {
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
}

.scrollBar .bar {
  width: 25px;
  height: 3px;
  background-color: #1c2230;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
}

.menu-toggle {
  justify-self: end;
  margin-right: 25px;
  display: none;
}

.menu-toggle:hover {
  cursor: pointer;
}

#mobile-menu.is-active .bar:nth-child(2) {
  opacity: 0;
}

#mobile-menu.is-active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

#mobile-menu.is-active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

.mainMargin {
  margin-top: 110px;
}
/* Mobile Devices - Phones/Tablets */

@media only screen and (max-width: 720px) {
  .navbar ul {
    display: flex;
    flex-direction: column;
    position: fixed;
    justify-content: start;
    top: 110px;
    background-color: #fff;
    width: 100%;
    height: calc(100vh - 55px);
    transform: translate(-101%);
    text-align: center;
    overflow: hidden;
    transition: all 0.3s ease;
  }

  .navbar {
    justify-content: space-between;
    height: 85px;
    margin-top: 0;
  }

  .scrollNavTall {
    height: 85px;
  }

  .navbar li {
    padding: 15px;
  }
  .scrollNavLinks > li > a {
    color: #1c2230;
  }

  .navbar li:first-child {
    margin-top: 50px;
  }

  .navbar li a {
    font-size: 1rem;
  }
  .m-only {
    display: block;
  }

  .d-only {
    display: none !important;
  }

  .menu-toggle,
  .bar {
    display: block;
    cursor: pointer;
  }

  .mobile-nav {
    transform: translate(0%) !important;
  }

  .nav-wrapper {
    display: block;
    height: 110px;
  }

  .mainMargin {
    margin-top: 85px;
  }

  .contactBar {
    height: 29px;
  }

  .contactBarInner {
    width: 90%;
  }
}
