.nav-wrapper {
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  position: fixed;
  z-index: 3;
  top: 0;
}

.scrollNav {
  background-color: #fff;
}

.scrollNavLinks > li > a {
  color: #000;
}

/* NAVIGATION */

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85px;
  overflow: hidden;
}

.navbar img {
  width: auto;
  justify-self: start;
  margin-left: 20px;
  margin-right: 20px;
  transition: width 0.3s ease;
  width: 250px;
}

.shrinkLog0 {
  width: 200px !important;
}

.bigLogo {
  padding-top: 15px;
}

.navbar ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-gap: 20px;
  justify-self: end;
}

.nav-item a {
  color: #fff;
  font-size: 0.9rem;
  font-weight: 400;
  text-decoration: none;
  transition: color 0.2s ease-out;
  text-transform: uppercase;
}

.nav-item a:hover {
  color: #ea3ba1;
}

.m-only {
  display: none;
}

.menu-toggle .bar {
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
}

.barScroll .bar {
  background-color: #000;
}

.menu-toggle {
  justify-self: end;
  margin-right: 25px;
  display: none;
}

.menu-toggle:hover {
  cursor: pointer;
}

#mobile-menu.is-active .bar:nth-child(2) {
  opacity: 0;
}

#mobile-menu.is-active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

#mobile-menu.is-active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

/* Mobile Devices - Phones/Tablets */

@media only screen and (max-width: 720px) {
  .navbar ul {
    display: flex;
    flex-direction: column;
    position: fixed;
    justify-content: start;
    top: 85px;
    background-color: #fff;
    width: 100%;
    height: calc(100vh - 55px);
    transform: translate(-101%);
    text-align: center;
    overflow: hidden;
    transition: all 0.3s ease;
  }

  .navbar {
    justify-content: space-between;
  }

  .navbar li {
    padding: 15px;
  }
  .scrollNavLinks > li > a {
    color: #000;
  }

  .navbar li:first-child {
    margin-top: 50px;
  }

  .navbar li a {
    font-size: 1rem;
  }
  .m-only {
    display: block;
  }

  .d-only {
    display: none !important;
  }

  .menu-toggle,
  .bar {
    display: block;
    cursor: pointer;
  }

  .mobile-nav {
    transform: translate(0%) !important;
  }
}
